html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(71, 69, 69);
}

.body__header {
    color:bisque
}

.body__article {
    color: white;
}