html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(71, 69, 69);
}

.body__header {
    color:bisque
}

.body__header__1 {
    color:bisque
}

.body__header__2 {
    color:bisque
}

.body__article {
    color: white;
}

.body__article__1 {
    color: white;
}

.body__article__2 {
    color: white;
}

.body__article__3 {
    color: white;
}

.body__article__4 {
    color: white;
}

.body__article__5 {
    color: white;
}